
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

legend{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #3498db;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #51c8e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover { 
    background-color: #35bdd4; 
} 

a { 
    color: #3498db; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

p{
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
}