
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    background-color: #f3f2f2;
}

.bus-container {
    margin-top: 200px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.bus-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.seat-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.selection-info {
    margin-top: 20px;
}

#confirm-btn {
    padding: 10px 20px;
    background-color: #5c78d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-btn:hover {
    background-color: #3017a3;
}


.formbook {
    border-radius: 7px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    background-color: rgb(134, 233, 233);
}
.main_container {
    width: 100%;
    padding: 0px;
    height: 225px;
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    
}
select {
    margin-right: 5px;
    padding: 3px 0;

}
.message {
    color: red;
    font-weight: bold;
}
.button-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.buttons{
    padding: 10px 20px;
    background-color: #5c78d3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons:hover{
    background-color: #3017a3;
cursor: pointer;
}